.Store{
  width: 100%;
}

.StoreWrapper{
  width: 70%;
}

.StoreTitle{
  font-family: S-CoreDream-3Light;
  font-weight: 900;
  font-size: 3em;
}

.StoreBannerWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.StoreBanner{
  width: 100%;
}

.StoreSlider{
  width: 100%;
  height: 100%;
}

.StoreSliderItem{
  display: flex;
  width: 100vw;
  height: 22em;
  img{
    width: 100%;
    height: 100%;
  }
}