.PasswordEdit{
  width: 100%;
  height: calc(100vh - 4.5em);
  // background-color: antiquewhite;
  display: flex;
  justify-content: center;
}

.PasswordEditWrapper{
  width: 70%;
  height: 100%;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PasswordEditTitle{
  margin-top: 6em;
  font-weight: 900;
  font-size: 1.3em;
}

.PasswordEditContent{
  margin-top: 1em;
  width: 100%;
}

.PasswordEditContentItem{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2em;
}

.PasswordEditContentItemTitle{
  color: #909090;
}

.PasswordEditContentItemInput{
  width: 100%;
  height: 2em;
  // background-color: aqua;
  margin-top: 1.5em;
  border-bottom: 1px solid #909090;
  background-color: transparent;
}

.PasswordEditBtn{
  background-color: #DDDDDD;
  color: white;
  margin-top: 2em;
  padding: 1em;
  width: 30%;
  border-radius: 10px;
}