.Mypage{
  margin-left: 16em;
  width: calc(100vw - 17em);
}

.MypageFooter{
  width: calc(100vw - 16em);
}

// 모바일버전
@media (max-width: 640px) {
  /* 640px는 tailwindcss에서 'sm'의 기본 값입니다. */
  
  .Mypage{
    margin-left: 0em;
    width: 100vw;
  }

  .MypageFooter {
    margin-left: 0em;
    width: 100vw;
  }
  
}