.MypageHome{
  width: 100%;
  min-height: calc(100vh - 4.5em);
}

.MypageWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5em 0;
}

.MypageProfile{
  width: 70%;
  height: 13em;
  border: solid 2px #F2F2F2;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3em;
}

.ProfileImg{
  width: 20%;
  height: 100%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileImgSrc{
  width: 6em;
  height: 6em;

}

.ProfileInfo{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30%;
  height: 100%;
  justify-content: space-evenly;
}

.ProfileBenefit{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
  width: 30%;
  height: 100%;
}

.ProfilePoint, .ProfileCoupon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfilePointNumber, .ProfileCouponNumber{
  margin-top: 0.5em;
}

// 구매내역
.MypageBuy{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
  margin-top: 3em;
}

.MypageBuyTitle{
  font-size: 1.5em;
  font-weight: 700;
  font-size: 1.2em;
}

.MypageBuyContain{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12em;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 10px;
  margin-top: 1em;
}

.MypageBuyItemContent{
  margin-top: 1.5em;
}

// 나의유형
.MypageType{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
  margin-top: 3em;
}

.MypageTypeTitle{
  font-size: 1.5em;
  font-weight: 700;
  font-size: 1.2em;
}

.MypageTypeContain{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15em;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 10px;
  margin-top: 1em;
}

.MypageTypeContainWrapper{
  display: flex;
  flex-direction: column;
  padding: 3em;
  text-align: left;
}

.MypageTypeContainWrapperType{
  display: flex;
  font-size: 1.2em;
  font-weight: 600;
  color: #9A452B;
}

.MypageTypeContainRightInterior{
  margin-top: 1em;
  font-weight: 700;
}
