.ProfileEdit{
  // background-color: aqua;
  width: 100%;
  min-height: calc(100vh - 4.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileEditWrapper{
  width: 70%;
  height: 100%;
  // background-color: antiquewhite;
  margin: 6em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProfileEditContent{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  // background-color: aquamarine;
}

.ProfileEditTitle{
  font-weight: 900;
  font-size: 1.3em;
}

.ProfileEditContentTitle{
  margin-top: 1.5em;
  font-weight: 500;
}

.ProfileEditContentId{
  margin-top: 1em;
  color: #909090;
  margin-top: 1.5em;
}

.ProfileEditContentIdEdit{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5em;
}

.ProfileEditContentPassword{
  margin-top: 1em;
  color: #909090;
}

.ProfileEditContentIdInput{
  width: 88%;
  background-color: none;
  border-bottom: 1px solid #909090;
  background-color: transparent;
}

.ProfileEditContentIdButton{
  width: 10%;
  border: 1px solid #909090;
  border-radius: 10px;
}

.ProfileEditContentPasswordInput{
  width: 100%;
  margin-top: 0.5em;
  width: 88%;
  background-color: none;
  border-bottom: 1px solid #909090;
  background-color: transparent;
}

.ProfileEditBtn{
  width: 20%;
  border-radius: 10px;
  background-color: #DDDDDD;
  color: white;
  padding: 1em;
  margin-top: 2em;
}