.Collabo{
  width: 100%;
  min-height: calc(100vh - 4.5em);
  // height: calc(100vh - 4.5em);
  // background-color: antiquewhite;
}

.CollaboWrapper{
  width: 70%;
}

.CollaboTitle{
  font-family: S-CoreDream-3Light;
  // margin-top: 0.5em;
  font-weight: 900;
  font-size: 3em;
}